<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kintsugi</title>
    <link rel="shortcut icon" href="/images/logo-icon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <img src="/images/logo.png" alt="">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="">Location</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul>
          <li><a href=""><i class="fas fa-search"></i></a></li>
          <li><a href="/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href="">Login<i class="fas fa-user-circle"></i></a></li>
        </ul>
      </nav>

      <img src="/images/home-banner.jpg" alt="" id="banner">

      <div class="home-cards">
        <div class="home-text">
          <h2>The best experience</h2><br>
          <p> Sushi is traditionally made with medium-grain white rice, though it can be prepared with brown rice or short-grain rice. It is very often prepared with seafood, such as squid, eel, yellowtail, salmon, tuna or imitation crab meat. Many types of sushi are vegetarian.
          </p><br>
          <a href="" class="button">Ver productos</a>
        </div>
        <div class="home-img-1">
          <img src="/images/fotos-sushi/home-S1.png" alt="" id="home-img-s1">
        </div>
      </div>

      <div class="home-cards-2">
        <div class="home-text-2">
          <h2>Exclusive dishes</h2><br>
          <p> Sushi is traditionally made with medium-grain white rice, though it can be prepared with brown rice or short-grain rice. It is very often prepared with seafood, such as squid, eel, yellowtail, salmon, tuna or imitation crab meat. Many types of sushi are vegetarian.
          </p><br>
          <a href="" class="button">Ver productos</a>
        </div>
        <div class="home-img-2">
          <img src="/images/fotos-sushi/home-S2.png" alt="" id="home-img-s2">
        </div>
      </div>

      <footer>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <p>Copyright Kintsugi 2020 - A project by Martin Sobel, Angie Rodriguez & Agustin Posse</p>
      </footer>
    </main>
  </body>
</html>
