<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kintsugi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><img src="/images/logo.png" alt=""></li>
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="">Locaction</a></li>
          <li><a href="">Contact</a></li>
          <li><a href=""><i class="fas fa-search"></i></a></li>
          <li><a href="/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href=""><i class="fas fa-user"></i></a></li>
        </ul>
      </nav>

      <img src="/images/home-banner.jpg" alt="" id="banner">

      <div class="home-cards">
        <div class="home-text">
          <h2>Los mejores articulos</h2>
          <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptates est saepe illum
            sapiente earum in, quidem placeat debitis eos excepturi vero aliquam, dolor molestias tenetur
            nostrum iure voluptate fuga? Similique ipsam numquam sunt autem minima porro accusantium, magni minus.
          </h4>
          <a href="" class="button">Ver productos</a>
        </div>
        <img src="/images/fotos-sushi/home-1-pieza.jpg" alt="" id="up">
        <img src="/images/fotos-sushi/home-2-plato.jpg" alt="" id="plato">
      </div>

      <div class="home-cards">
        <div class="home-text" >
          <img src="/images/fotos-sushi/home-3-wasabi.jpg" alt="" id="wasabi">
          <img src="/images/fotos-sushi/home-4-manoplato.jpg" alt="" id="mano">
          <h2>Los mejores articulos</h2>
          <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptates est saepe illum
            sapiente earum in, quidem placeat debitis eos excepturi vero aliquam, dolor molestias tenetur
            nostrum iure voluptate fuga? Similique ipsam numquam sunt autem minima porro accusantium, magni minus.
          </h4>
          <a href="" class="button">Ver productos</a>
        </div>
      </div>

      <footer>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
      </footer>
    </main>
  </body>
</html>
