  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kintsugi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><img src="" alt=""></li>
          <li>Menu</li>
          <li>Locaction</li>
          <li>Contact</li>
        </ul>
        <!-- <div>
          <i class="fas fa-shopping-cart"></i>
          <i class="fas fa-sign-in-alt"></i>
        </div> -->
      </nav>

      <div id="banner">
        <h1>Kintsugi</h1>
      </div>

      <div class="home-cards">
        <div class="home-text">
          <h2>Los mejores articulos</h2>
          <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minima nihil iure. </h3>
          <a href="" class="button">Boton</a>
        </div>
      </div>

      <footer>
        <h4>Footer text</h4>
      </footer>
    </main>
  </body>
</html>
