<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body>
    <main>
      <%- include('./partials/header')  %>

      <img src="/images/home-banner.jpg" alt="" id="banner">

      <div class="home-cards">
        <div class="home-text">
          <h2>The best experience</h2><br>
          <p> Sushi is traditionally made with medium-grain white rice, though it can be prepared with brown rice or short-grain rice. It is very often prepared with seafood, such as squid, eel, yellowtail, salmon, tuna or imitation crab meat. Many types of sushi are vegetarian.
          </p><br>
          <a href="" class="button">View products</a>
        </div>
        <div class="home-img-1">
          <img src="/images/fotos-sushi/home-S1.png" alt="" id="home-img-s1">
        </div>
      </div>

      <div class="home-cards-2">
        <div class="home-text-2">
          <h2>Exclusive dishes</h2><br>
          <p> Sushi is traditionally made with medium-grain white rice, though it can be prepared with brown rice or short-grain rice. It is very often prepared with seafood, such as squid, eel, yellowtail, salmon, tuna or imitation crab meat. Many types of sushi are vegetarian.
          </p><br>
          <a href="" class="button">View products</a>
        </div>
        <div class="home-img-2">
          <img src="/images/fotos-sushi/home-S2.png" alt="" id="home-img-s2">
        </div>
      </div>

    </main>
    <%- include('./partials/footer')  %>
  </body>
</html>
