<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="/fonts/MonumentExtended-Ultrabold.otf" rel="stylesheet">
    <link href="/fonts/SF-Pro-Text-Regular.otf" rel="stylesheet">
    <link href="/fonts/SF-Pro-Display-Medium.otf" rel="stylesheet">
</head>
<body>
 
    <nav>
        <ul>
          <img src="/images/logo.png" alt="">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="">Location</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul>
          <li><a href=""><i class="fas fa-search"></i></a></li>
          <li><a href="/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href="">Login<i class="fas fa-user-circle"></i></a></li>
        </ul>
      </nav>

  <div class="containerlogin">
    <main class="datos">
        <div class="titulacion">
            <h2>Log in</h2>
            <img src="/images/jap-log-in.png" id="loginjapo">
            <p>Welcome back to Kintsugi! We are glad to see you again! </p>
        </div>
        <div class="formulario">
            <h3>Please, fill in below with your information</h3>
            <form action="/" method="GET">
                <input type="email" id="email" name="email" placeholder="Email"><br>
                <input type="password" id="password" name="password" placeholder="Password"><br>
                <button type="submit">Enter</button>
            </form>
        </div>
            
        <div class="finform">
                <p><input type="radio" name="remember" value="yes"> Remember Me</p>       
        </div>
        <a href="/register" id="noAccount">I don't have an account</a>
        
    </main>
    <aside class="imgder">
        <img src="/images/fotos-sushi/login-1-grande.jpg" alt="sushi 1 grande" id="login1"><br>
        <img src="/images/fotos-sushi/login-2-chica.jpg" alt="sushi 2 chica" id="login2"><br>
        <img src="/images/fotos-sushi/login-1-chica.jpg" alt="sushi 1 chica" id="login3"><br>
        <img src="/images/fotos-sushi/login-2-grande.jpg" alt="sushi 2 grande" id="login4">
     </aside>
  </div>  
     <footer>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <p>Copyright Kintsugi 2020 - A project by Martin Sobel, Angie Rodriguez & Agustin Posse</p>
      </footer>
 
</body>
</html>