<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kintsugi</title>
    <link rel="shortcut icon" href="/images/logo-icon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <img src="/images/logo.png" alt="">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="">Location</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul>
          <li><a href=""><i class="fas fa-search"></i></a></li>
          <li><a href="/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href="/login">Login<i class="fas fa-user-circle"></i></a></li>
        </ul>
      </nav>

     <div class="container-menu">

     <div class="titulo-menu">
       <h2>Menu</h2>
       <img src="/images/jap-menu.png" id="loginjapo">
     </div>


    <div class="nav-menu">
      <ul>
        <li><a class="selected-nav-menu" href="#">Suggested</a></li>
        <li><a href="#">Rolls</a></li>
        <li><a href="#">Mixed</a></li>
        <li><a href="#">Snacks</a></li>
        <li><a href="#">Salads</a></li>
        <li><a href="#">Tempura</a></li>
      </ul>
      <hr>
      <ul>
        <li><a href="#" id="dessert">Dessert</a></li>
        <li><a href="#" id="drinks">Drinks</a></li>
        <i class="fas fa-plus"></i>
      </ul>
    </div>

    <div class="container-pmenu">
      <div class="titulos-pmenu">
        <h3>Suggested dishes</h3>
        <p>Sort by <i class="fas fa-caret-down"></i></p>
      </div>
      <div class="products-menu">
      <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
      </div>
        <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
        </div> 
        <div class="single-pmenu">
          <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
          <p>Product name<br>$500</p>
          <i class="fas fa-plus"></i>
        </div> 
      </div>
    </div>

  
    </div>

      <footer>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <p>Copyright Kintsugi 2020 - A project by Martin Sobel, Angie Rodriguez & Agustin Posse</p>
      </footer>
    </main>
  </body>
</html>