<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body>
    <main class="main-formulario">

        <img src="/images/logo.png" id="form-logo">
        <h1>Kintsugi</h1>
        <img src="/images/jap-kintsugi.png" id="form-jap-kintsugi">

        <div class="nav-menu">

            <ul>
              <li><a href="/product_manager/add">Upload product</a></li>
            </ul>
            <ul>
              <li><a class="selected-nav-menu" href="/product_manager/">Edit product</a></li>
            </ul>
          </div>

        <div class="container-form">
          <p>Sort by <i class="fas fa-caret-down"></i></p>
          <div class="products-edit">

            <% products.forEach(function(products){ %>
              
              <div class="single-pmenu">
                  <img src="/images/my-uploads/<%= products.image %>" class="foto-sushi-menu">
                  <p><%= products.name %></p>
                  <a href="/product_manager/edit/<%= products.id %>"><i class="fas fa-pencil-alt"></i></a>
              </div>

            <% }); %>

          </div>
        </div>

    </main>
</body>
</html>