<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body>
    <main class="main-formulario">

        <img src="/images/logo.png" id="form-logo">
        <h1>Kintsugi</h1>
        <img src="/images/jap-kintsugi.png" id="form-jap-kintsugi">

        <div class="nav-menu">
            <ul>
              <li><a class="selected-nav-menu" href="/products/product_add">Upload product</a></li>
            </ul>
            <ul>
              <li><a href="/products/product_edit">Edit product</a></li>
            </ul>
          </div>
        <div class="container-form">

        </div>

    </main>
</body>
</html>