<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <div id="product-main">
        <h1>Product title</h1>
        <span>Category</span>
        <span>$123</span>
        <span></span>
    </div>
    <div id="product-description">
        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur a quos iusto!</h5>
    </div>
    <div id="cart-options">
        <a href="" class="button">Add to cart</a>
        <div>
            <i class="fas fa-plus button"></i>
            <span class="button">x1</span>
            <i class="fas fa-minus button"></i>
        </div>
    </div>
</body>
</html>