<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body>
    <main class="main-formulario">

        <img src="/images/logo.png" id="form-logo">
        <h1>Kintsugi</h1>
        <img src="/images/jap-kintsugi.png" id="form-jap-kintsugi">

        <div class="nav-menu">

            <ul>
              <li><a href="/products/product_add">Upload product</a></li>
            </ul>
            <ul>
              <li><a class="selected-nav-menu" href="/products/product_edit">Edit product</a></li>
            </ul>
          </div>

        <div class="container-form">
          <p>Sort by <i class="fas fa-caret-down"></i></p>
          <div class="products-edit">
            <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-1.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
            </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-1.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detaill"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-1.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div> 
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div> 
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-1.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-1.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-3.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div>
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-1.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div> 
              <div class="single-pmenu">
                <img src="/images/fotos-sushi/cart-2.jpg" class="foto-sushi-menu">
                <p>Product name</p>
                <a href="product_edit_detail"><i class="fas fa-pencil-alt"></i></a>
              </div> 
            </div>
        </div>

    </main>
</body>
</html>