<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
          <img src="/images/logo.png" alt="">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="">Location</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul>
          <li><a href=""><i class="fas fa-search"></i></a></li>
          <li><a href="/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href="">Login<i class="fas fa-user-circle"></i></a></li>
        </ul>
      </nav>
    <div id="product-main">
        <h1>Product title</h1>
        <img src="/images/jap-product-title.png" alt="" style="width: 50%; float: right;">
        <span>Category</span>
        <span id="price">$123</span>
    </div>
    <div id="product-description">
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem numquam qui cumque!
          Corrupti ut itaque minima placeat voluptate.Delectus ducimus quibusdam, inventore sequi
          rerum reiciendis.</h5>
    </div>
    <div id="cart-options">
        <a href="" class="button" id="add">Add to cart</a>
        <div>
            <i class="fas fa-plus button"></i>
            <span class="button" id="mult">x1</span>
            <i class="fas fa-minus button"></i>
        </div>
        <a href="/menu" id="back">Back to menu</a>
    </div>
    
    <img src="/images/fotos-sushi/producto-middle.jpg" alt="" id="product_image">

    <footer>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <p>Copyright Kintsugi 2020 - A project by Martin Sobel, Angie Rodriguez & Agustin Posse</p>
      </footer>
</body>
</html>