<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body class="cart">
    
    <%- include('./partials/header')  %>
      
      <div class="titulocart">
        <h2>My cart</h2>
        <img src="/images/jap-my-cart.png">
      </div>

      <main class="containercart">
    <div class="productscart">
      <div class="productcart">
        <p class="cant">X1</p>
        <img src="/images/fotos-sushi/cart-1.jpg">
        <h3>Product Name</h3>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est accusantium eum itaque sapiente provident ad, rem aliquam?</p>
        <div class="columna">
        <p class="precio">$500<p>
        <p class="modify">Modify</p>
        <p class="delete">Delete</p>
      </div>
      </div>
      <div class="productcart">
        <p class="cant">X1</p>
        <img src="/images/fotos-sushi/cart-2.jpg">
        <h3>Product Name</h3>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est accusantium eum itaque sapiente provident ad, rem aliquam?</p>
        <div class="columna">
        <p class="precio">$500<p>
        <p class="modify">Modify</p>
        <p class="delete">Delete</p>
        </div>
      </div>
      <div class="productcart">
        <p class="cant">X1</p>
        <img src="/images/fotos-sushi/cart-3.jpg">
        <h3>Product Name</h3>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est accusantium eum itaque sapiente provident ad, rem aliquam?</p>
        <div class="columna">
        <p class="precio">$500<p>
        <p class="modify">Modify</p>
        <p class="delete">Delete</p>
      </div>
      </div>
    </div>
    <div class="bill">
      <h3>Your bill</h3><br>
      <div class="productofinal">
      <p class="cantbill">X1</p>
      <p>Product name</p>
      <p>$500</p>
      </div>
      <div class="productofinal">
      <p class="cantbill">X1</p>
      <p>Product name</p>
      <p>$500</p>
      </div>
      <div class="productofinal">
      <p class="cantbill">X1</p>
      <p>Product name</p>
      <p>$500</p>
      </div>
      <div class="total">
      <p>Final price:</p>
      <p>$1500</p>
      </div>
      <button type="submit">Checkout</button>
    </div>
  </main>

  <%- include('./partials/footer')  %>
    
  </body>
</html>