<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')  %>
  </head>
  <body>
    <main class="main-formulario">

        <img src="/images/logo.png" id="form-logo">
        <h1>Kintsugi</h1>
        <img src="/images/jap-kintsugi.png" id="form-jap-kintsugi">

        <div class="nav-menu">
            <ul>
              <li><a class="selected-nav-menu" href="#">Upload product</a></li>
            </ul>
            <ul>
              <li><a href="#">Edit product</a></li>
            </ul>
          </div>
        
        <div class="container-form">
            <div class="formulario">
                
                <form action="/" method="GET">
                    <h3>Product name</h3>
                    <input type="text" id="name" name="name" placeholder="English"><br>
                    <input type="text" id="jap" name="jap" placeholder="Japanese"><br>
                    <h3>Description</h3>
                    <p>Max. 200 characters</p>
                    <input type="text" id="desc" name="desc" maxlength = "200"><br>
                    <h3>Price</h3>
                    <p>Only numbers</p>
                    <input type="text" id="add-price" name="price"><br>
                    <h3>Category</h3>
                    <input type="text" id="cat" name="cat"><br>
                    <h3>Pictures</h3>
                    <p>Max 2 MB each, .jpg format</p>
                    <img src="/images/fotos-sushi/producto-middle.jpg" id="form-foto1"><br>
                    <img src="/images/fotos-sushi/producto-left.jpg" id="form-foto2"><br>
                    <input type="file" id="add-img" name="add-img"><br>

                    <button type="submit">Upload product</button><br><br>
                    <a href="#">Restore changes</a>
                
                </form>
                
            </div>
            



        </div>
        <%- include('./partials/footer')  %>
    </main>
</body>
</html>