<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kintsugi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <img src="/images/logo.png" alt="">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="">Location</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul>
          <li><a href=""><i class="fas fa-search"></i></a></li>
          <li><a href="/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href="">Login<i class="fas fa-user-circle"></i></a></li>
        </ul>
      </nav>
      <div class="titulocart">
        <h2>My cart</h2>
        <img src="/images/jap-my-cart.png">
      </div>
    <main class="productscart">
      <div class="productcart1">
        <p class="cant">X1</p>
        <img src="/images/fotos-sushi/cart-1.jpg">
        <h3>Product Name</h3>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est accusantium eum itaque sapiente provident ad, rem aliquam?</p>
        <p class="precio">$500<p>
        <p class="modify">Modify</p>
        <p class="delete">Delete</p>
      </div>
      <div class="productcart2">
        <p class="cant">X1</p>
        <img src="/images/fotos-sushi/cart-2.jpg">
        <h3>Product Name</h3>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est accusantium eum itaque sapiente provident ad, rem aliquam?</p>
        <p class="precio">$500<p>
        <p class="modify">Modify</p>
        <p class="delete">Delete</p>
      </div>
      <div class="productcart3">
        <p class="cant">X1</p>
        <img src="/images/fotos-sushi/cart-3.jpg">
        <h3>Product Name</h3>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est accusantium eum itaque sapiente provident ad, rem aliquam?</p>
        <p class="precio">$500<p>
        <p class="modify">Modify</p>
        <p class="delete">Delete</p>
      </div>
    </main> 
    <div class="bill">
      <h3>Your bill</h3>
      <p class="cantbill">X1</p>
      <p>Product name</p>
      <p>$500</p>
      <p class="cantbill">X1</p>
      <p>Product name</p>
      <p>$500</p>
      <p class="cantbill">X1</p>
      <p>Product name</p>
      <p>$500</p>
    </div>

      <footer>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <p>Copyright Kintsugi 2020 - A project by Martin Sobel, Angie Rodriguez & Agustin Posse</p>
      </footer>
    </main>
  </body>
</html>