<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
</head>
<body>
 
  <%- include('./partials/header')  %>

  <div class="containerlogin">
    <main class="datos">

        <div class="titulacion">
            <h2>Sign Up</h2>
            <img src="/images/jap-sign-up.png">
            <p>Welcome to Kintsugi! We are very happy that you're joining us.You can receive exclusive news and discounts if you subscribe to our newsletter.  </p>
        </div>

        <div class="formulario">
            <h3>Please, fill in below with your information</h3>
            <% if(typeof errors != 'undefined'){ %>
              <% for (let i = 0; i < errors.length; i++) { %>
                <p class="error"><%= errors[i].msg %></p>
                <% } %>
            <% } %>

            <form action="/users/register" method="POST" class="form-validation">
                <input type="text" id="name" name="name" placeholder="Name" class="input-control"><br>
                <div class="error-msg"></div>
                <input type="tel" id="phone" name="phone" placeholder="Phone" class="input-control"><br>
                <div class="error-msg"></div>
                <input type="email" id="email" name="email" placeholder="Email" class="input-control"><br>
                <div class="error-msg"></div>
                <input type="password" id="password" name="password" placeholder="Password" class="input-control"><br>
                <div class="error-msg"></div><br>
                
                <input type="checkbox" name="newsletter" value="1" id="news-checkbox"><label id="recieve-news">I want to receive exclusive news</label>
                <button id="button-register" type="submit">Sign Up</button>
                
            </form>
            <br>
        </div>

        <a href="/users/login" id="already"> I already have an account</a>
        
    </main>
    <aside class="imgder">
       <img src="/images/fotos-sushi/signup-1-grande.jpg" alt="sushi 1 grande" id="sign1"><br>
       <img src="/images/fotos-sushi/signup-1-chica.jpg" alt="sushi 1 chica" id="sign2"><br>
       <img src="/images/fotos-sushi/signup-2-grande.jpg" alt="sushi 2 grande" id="sign3"><br>
       <img src="/images/fotos-sushi/signup-2-chica.jpg" alt="sushi 2 chica" id="sign4">
    </aside>
  </div>

  <%- include('./partials/footer')  %>
  <script src="/js/form-validation.js"></script>
</body>
</html>