<footer>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <p>Copyright Kintsugi 2020 - A project by Martin Sobel, Angie Rodriguez & Agustin Posse</p>
</footer>