<nav>
    <ul>
      <img src="/images/logo.png" alt="">
      <li><a href="/">Home</a></li>
      <li><a href="/products/menu">Menu</a></li>
      <li><a href="">Location</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <ul>
      <li><a href=""><i class="fas fa-search"></i></a></li>
      <li><a href="/products/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
      <li><a href="/users/login">Login<i class="fas fa-user-circle"></i></a></li>
    </ul>
</nav>