<nav>
    <ul>
      <img src="/images/logo.png" alt="">
      <li><a href="/">Home</a></li>
      <li><a href="/products/menu">Menu</a></li>
      <li><a href="" id="hide-it">Location</a></li>
      <li><a href="" id="hide-it">Contact</a></li>
    </ul>
    <ul>
      <li><a href=""><i class="fas fa-search"></i></a></li>
      <li><a href="/products/product_cart"><i class="fas fa-shopping-cart"></i></a></li>
      <li><a href="/users/login">Login<i class="fas fa-user-circle"></i></a></li>
      <li><a href="#"><i class="fas fa-bars" id="treslineas"></i></a></li>
    </ul>
</nav>
