@font-face{
  font-family: "SF-Pro-Text-Regular";
  src: url(../fonts/SF-Pro-Text-Regular.otf)
}
@font-face{
  font-family: "SF-Pro-Display-Regular";
  src: url(../fonts/SF-Pro-Display-Regular.otf)
}
@font-face{
  font-family: "MonumentExtended-Ultrabold";
  src: url(../fonts/MonumentExtended-Ultrabold.otf)
}
@font-face{
  font-family: "MonumentExtended-Regular";
  src: url(../fonts/MonumentExtended-Regular.otf)
}

body {
  font: 14px "SF-Pro-Text-Regular", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/images/fondo-web.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat-y;
  color: #FFFFFF;
}

@media (max-width: 400px){
body{
  background-image: url("/images/fondo-mobile.jpg");}
}

h1, h2{
  font-family: "MonumentExtended-Ultrabold", sans-serif;
  font-size: 36px;
  letter-spacing: 1.3pt;
}
p{
  font-family: "SF-Pro-Text-Regular", sans-serif;
}
h3{
font-family: "SF-Pro-Display-Regular", sans-serif;
font-size: 22px;
letter-spacing: 0.5pt;
font-weight: 300;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background-color:#0f1012;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: #4e4e4e
}
.container-pmenu::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
.container-pmenu::-webkit-scrollbar {
  width: 6px;
}

.scale:hover{
  transition-duration: 0.1s !important;
  transition-timing-function: ease-in !important;
  display:block !important;
  transform: scale(1.1, 1.1); 
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1) ;
}

.btn:hover{
  transition-duration: 0.12s !important;
  transition-timing-function: ease-in !important;
  background-color: #121213 !important;
  border: 2px solid #EA5457 !important;
}


/*===================================
 Navbar
===================================*/

nav{
  font-size: 18px;
  display: flex;
  position: fixed;
  margin: 1%;
  background-color: black;
  color: gray;
  height: 5%;
  width: 98%;
  height: 10%;
  border-radius: 20px;
  z-index: 1;
  justify-content: space-between;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4);
}

.fa-user-circle{
  margin-left: 10px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  padding: 0px 30px;
  align-self: center;
}

nav ul img{
  align-self: center;
  width: 70px;
  height: 56px;
  padding-right: 10px;
}

nav a{
  color: gray;
  text-decoration: none;
}

nav a:hover{
  color: white;
}

#treslineas{
  display: none;
}

@media (max-width: 1200px){
  nav ul li:nth-child(-n+3){
    display: none;
  }
  #hide-it{
    display: none;
  }
  #treslineas{
    display: flex;
    font-size: 26px;
  }
  nav ul li{
    padding-left: 0px;
    padding-right: 30px;
  }
}

/*===================================
 Home
===================================*/

#banner{
  position: relative;
  padding-top: 7%;
  width: 100%;
}

.home-cards, .home-cards-2{
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  margin: 30px auto;
  padding: 20px;
  width: 85%;
  border-radius: 15px;
  justify-content: space-evenly;
}

.home-img-1{
display: flex;
justify-content: flex-end;
}

#home-img-s1{
align-items: flex-end;
align-self: center;
width: 786px;
height: 411px;
}

.home-text, .home-text-2{
  padding-left: 20px;
  padding-right: 15px;
  margin-bottom: 20px;
  width: 35%;
  align-self: center;
  letter-spacing: 0.1pt;
}
.home-text h2, .home-text-2 h2{
margin-bottom: -10px;
}
.home-text p, .home-text-2 p{
  font-size: 16px;
}

.home-img-2{
  display: flex;
  order: -1;
  }

#home-img-s2{
  align-self: center;
  width: 718px;
  height: 322px;
}


.button {
  font-family: "SF-Pro-Text-Regular", sans-serif;
  color: white;
  background-color: #EA5457;
  border: none;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
.button:hover{
  background-color: #121213;
  transition-duration: 0.12s !important;
  transition-timing-function: ease-in !important;
  border: 2px solid #EA5457 !important;
}

@media (max-width: 1200px){
  #banner{
    padding-top: 15%;
  }
  .home-cards{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .home-cards-2{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .home-text{
    width: 80%;
  }
  .home-cards img{
    width: 100vh;
    align-self: center;
  }
  .home-text-2{
    display: block;
    width: 80%;
  }
  #home-img-s1{
    width: 393px;
    height: 205px;
    margin: auto;
  }
  #home-img-s2{
    width: 359px;
    height: 161px;
    margin: auto;
  }

  footer p{
    margin: 5px 10px;
  }
}

/*===================================
 Product details
===================================*/

  #product-main{
    padding-top: 20px;
    flex-direction: column;
  }
  #product-description{
    display: inherit;
    width: 100% !important;
    margin-top: 10px;
  }
  #details{
    flex-wrap: wrap;
    text-align: center;
    padding: 0px 20px;
  }
  #product-main {
    width: 80% !important;
  }

  #product-main{
    width: 30%;
    margin-top: 130px;
    display: inline-block;
}

#product_title_jap{
  width: 300px;
}

#product-main span{
  position: relative;
  top: 50px;
}

#mult{
  background-color: #814142;
}

#price{
  font-weight: bold;
}

#product-description{
  /* display: inline-block; */
  width: 200px;
  color:#afafaf
}

#cart-options{
  margin-top: 40px;
  justify-content: center;
  display: inline-block;
}

#cart-options button{
  font-family: "SF-Pro-Text-Regular", sans-serif;
  color: white;
  background-color: #EA5457;
  border-radius: 57px;
  border: none;
  height: 30px;
  width: 130px;
  cursor: pointer;
  margin-bottom: 15px;
}

#back{
  color: #A8CA55;
  text-decoration: none;
  font-family: "SF-Pro-Text-Regular";
}

#add{
  width: 75%;
}


#product_image{
  display: block;
  width: 50%;
  margin: 3% auto;
  border-radius: 10px;
}


/*===================================
Footer
===================================*/

footer{
  background-color: black;
  text-align: center;
  padding: 1px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

footer i{
  margin: 2% 2% 1% 2%;
  font-size: 25px
}

footer i:hover{
  color: #626262;
  cursor: pointer;
}

footer p{
  color: #626262;
}

/* ==========================
 Register y Log in
 ============================*/

.error{
  color: #EA5457;
}

.containerlogin{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 50px;
}

.datos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  position: relative;
  margin-top: 85px;
}
.datos a{
  width: 180px;
  text-align: left;
}

.datos .titulacion p{
  width: 300px;
  text-align: left;
  
}

.titulacion img{
  width: 50%;
  margin: -15px, 0px, 5px, 120px;
}
.formulario{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -50px;
}
.datos form{
  text-align: center;
}
.datos form input{
  border-radius: 57px;
  background-color: #4e4e4e;
  border: none;
  width: 95%;
  height: 30px;
  margin: 10px auto;
  text-align: center;
}
.formulario input:hover{
  background-color: rgb(34, 34, 34);
}
.formulario input:focus{
  background-color:white;
}
.containerlogin .formulario{
padding-top: 40px;
}

#add-img-user{
  height: 40px;
  background-color:#4e4e4e;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
#add-img-user:hover{
  background-color: rgb(34, 34, 34);
}

.form-validation {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.formulario button{
  font-family: "SF-Pro-Text-Regular", sans-serif;
  color: white;
  background-color: #EA5457;
  border-radius: 57px;
  border: none;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

#button-login{
  align-self: flex-end;
  
}

#button-register{
  align-self: flex-end;
}

#rem-checkbox, #news-checkbox {
  align-items: flex-start;
}

#rememberMe, #recieve-news{
  text-align:start;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: -30px;
}



#button-profile {
  position: relative;
  top: 10px;
  margin-top: 20px;
}

.containerlogin .datos #logout{
  color: #EA5457;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  position: relative;
  top: 30px;
  left: 60px;
  text-decoration: none;
}

.datos #already, #noAccount {
  text-decoration: none;
  color: #A8CA55;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  margin-bottom: 70px;
} 

.imgder {
  display: flex;
  flex-direction: row;
  height: 95vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 55%;
  margin-top: 60px;
}

.imgder img{
  border-radius: 1em;
  
}
#sign1{
  align-self: flex-start;
  position: relative;
  width: 55%;
  
}
#sign2{
  position: relative;
  align-self: center;
  width: 40%;
  bottom: 100px;
  right: 100px;
  
}
#sign3{
  align-self: flex-start;
  position: relative;
  width: 40%;
  left: 30px;
  top: 40px;
}
#sign4{
  position: relative;
  align-self: flex-end;
  justify-self: center;
  width: 20%;
  right: 50px;
  
}

#login1{
  width: 40%;
  align-self: flex-start;
  justify-self: center;
  position: relative;
  bottom: 70px;
  left: 15px;
}

#login2{
  transform: rotate(90deg);
  width: 26%;
  position: relative;
  align-self: center;
  bottom: 67px;
}
#login3{
  width: 34%;
  position: relative;
  align-self: flex-start;
  right: 40px;
  bottom: 50px;
}
#login4{
  width: 38%;
  position: relative;
  align-self: flex-end;
  left: 0px;
  bottom: 50px;
}
@media (max-width: 1300px){

}

@media (max-width: 800px){
  /*#sign2{
    left:80px;
    bottom: 40px;
  }
  #sign3{
    bottom: 0px;
  }
  #sign4{
    top: 40px;
  }

  #login3{
    right: 16px;
  }*/

  .formulario button{
    align-self: flex-end;
    margin-top: 20px;
  }
  .imgder{
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    position: relative;
    bottom: 80px;
  }
  
}

@media (max-width: 400px){
  .containerlogin{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-left: 50px;
  }
  .datos .titulacion p{
    width: 70vw;
  }
  .formulario{
    width: 80vw;
    align-items: center;
  }
  .formulario button{
    align-self: flex-end;
    margin-top: 20px;
  }
  
  .finform{
  margin-left: -80px;
  width: 100vw;
  }
  .datos a{
    margin-left: -90px;
  }
  .imgder{
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    position: relative;
    bottom: 80px;
  }
}





/*===================================
Cart
===================================*/

.cart{
  display: flex;
  flex-direction: column;
}
.titulocart{
  margin-top: 8%;
  margin-left: 8%;
}

.titulocart img{
  width: 220px;
  margin-left: 7%;
  margin-bottom: 10px;
  position: relative;
  bottom: 15px;
}

.containercart{

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 25px;
  /* flex-wrap: nowrap; */
}

.productscart{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  border-radius: 1em;
  padding-top: 40px;
  margin-bottom: 40px;
}

.productcart{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.productscart img{
  border-radius: 1em;
  width: 25%;

}

.productcart .precio{
  margin-top: 20px;
  font-size: 12pt;
}

.productscart .description{
  color: #a3a3a3;
  margin-top: -10px;
  width: 300px;  
}

.productscart .columna1{
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
}

.productscart .columna2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.productscart .add-another{
  font-family: "SF-Pro-Text-Regular";
  font-size: 12pt;
  color: #A8CA55;
  cursor: pointer;
}

.productscart .delete{
  font-family: "SF-Pro-Text-Regular";
  font-size: 10pt;
  color: #EA5457;
  cursor: pointer;
}


.bill{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  border-radius: 1em;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
  margin-left: 25px;
  margin-bottom: 125px;
}

.productofinal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}
.total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.bill .cantbill{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:#333333;
  text-align: center;
  box-sizing: border-box;
  padding-top: 7px;
  font-size: 14px;
}

.bill button{
  background-color: #EA5457;
  border-radius: 1em;
  border: none;
  font-family: "SF-Pro-Text-Regular";
  font-size: 18px;
  height: 30px;
  width: 110px;
  color: white; 
  font-family: "SF-Pro-Text-Regular";
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

@media (max-width: 800px){
  .titulocart img{
    margin-left: 90px;
  }
  .containercart{
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .productscart{
    width: 90%;
  }
  .productcart{
    justify-content: space-evenly;
  }
  .productcart h3{
    text-align: center;
  }
  .bill{
    width: 60%;
    margin-bottom: 50px;
  }

}

@media (max-width: 400px){
  .containercart{
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .productscart{
    width: 90%;
    justify-content: flex-start;
    
  }
  .productcart{
    width: 100%;
    flex-wrap: wrap;
  }
  .productcart .description, .productcart .columna{
    margin-top: -60px;
  }
  
  .bill{
    width: 60vw;
    margin-bottom: 50px;
    margin-top: 40px;
  }
}


/*===================================
 Menu
===================================*/

.container-menu{
padding-top: 90px;
margin-left: 5%;
margin-right:5%;
}
.titulo-menu{
  display: flex;
  margin-bottom: -18px;
}
.titulo-menu img{
  width: 194px;
  height: 69px;
  position: relative;
  top: 58px;
  left: 38px
}
.titulo-menu h2{
  font-size: 60px;
}
.nav-menu {
background-color: black;
border-radius: 15px;
height: 60px;
position: relative;
bottom: 20px;
display: flex;
}
.nav-menu ul{
  position: relative;
  align-items: center;
  list-style: none;
  color: gray;
  display: flex;
  align-self: center;
  padding-right: 30px;
  padding-left:10px;
}
.nav-menu ul li a{
  display: flex;
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin: 0px 45px;
}
.nav-menu ul li a:hover{
  color: #A8CA55;
}
.selected-nav-menu {
  color: #A8CA55 !important;
}
.nav-menu hr{
  height: 95%x;
  width: 4px;
  border:0px;
  background-color: #0f1012
}
.nav-menu i{
  display: none;
  color: white;
}
.nav-menu i:hover{
  color: #EA5457;
  cursor: pointer;
}
.container-pmenu{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  height: 600px;
  padding: 0px 45px;
  margin-bottom: 20px;
  overflow-x: hidden;
}
.titulos-pmenu{
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.titulos-pmenu h3{
  font-size: 38px;
  letter-spacing: 0;
}
.titulos-pmenu p{
  padding-top: 25px;
  font-size: 22px;
}
.products-menu{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 600px;
}
.single-pmenu{
  width: 280px;
}
.products-menu img{
  width: 217px;
  height: 122px;
  border-radius: 20px;
}
.products-menu p{
  margin-top: 13px;
  font-size: 20px;
  line-height: 32px;
}
.buttonPlus{
  background: none;
    padding: 0px;
    box-shadow: 0px 0px 0px transparent;
    border: none;
    text-shadow: 0px 0px 0px transparent;
    outline: none;
  }
.buttonPlus:active {
  background: none;
    padding: 0px;
    box-shadow: 0px 0px 0px transparent;
    border: none;
    text-shadow: 0px 0px 0px transparent;
    outline: none;
}
.products-menu i{
  position: relative;
  bottom: 78px;
  left: 203px;
  margin-bottom: 16px;
  font-size: 18px;
  color: #EA5457;
  text-decoration: none;
}
.products-menu i:hover{
  color:#4e4e4e;  
  cursor: pointer;
}


@media (max-width: 1410px){
  .nav-menu i{
    display: flex;
    color: white;
    padding-right: 10px;
  }
  .nav-menu hr{
    background-color: black;
  }
  #dessert{
    display: none;
  }
  #drinks{
    display: none;
  }
}
@media (max-width: 1130px){
  .nav-menu i{
    display: flex;
    color: white;
    padding-right: 10px;
  }
  .nav-menu hr{
    background-color: black;
  }
  .nav-menu ul li:nth-child(+n+2){
    display: none;
  }
  #dessert{
    display: none;
  }
  #drinks{
    display: none;
  }
  .titulo-menu{
    margin-top: -15px;
    margin-bottom: 5px;
  }
  .titulo-menu img{
    width: 146px;
    height: 52px;
    position: relative;
    top: 49px;
    left: 30px
  }
  .titulo-menu h2{
    font-size: 50px;
  }
  .titulos-pmenu h3{
    font-size: 28px;
    margin-right: 10px;
  }
  .titulos-pmenu p{
    font-size: 18px;
    padding-top: 20px;
  }
}
@media (max-width: 400px){
  .titulo-menu{
    margin-top: -15px;
    margin-bottom: 5px;
  }
  .titulo-menu img{
    width: 115px;
    height: 41px;
    position: relative;
    top: 41px;
    left: 24px
  }
  .titulo-menu h2{
    font-size: 40px;
    padding-left: 5px;
  }
  .titulos-pmenu h3{
    font-size: 26px;
  }
  .titulos-pmenu p{
    font-size: 16px;
    padding-top: 20px;
  }
  .products-menu p{
    font-size: 16px;
    line-height: 29px;
  }
}

/*===================================
 Product add
===================================*/

.main-formulario{
  background-color: #151617;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
}
#form-logo{
  width: 138px;
  height: 111px;
}
.main-formulario h1{
  font-family: "MonumentExtended-Regular", sans-serif;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 1pt;
}
#form-jap-kintsugi{
  width: 109px;
  height: 49px;
  margin-top: -22px;
  margin-bottom: 50px;
}
.container-form{
  margin-top: 10px;
  padding-top: 25px;
  background-color: black;
  width: 70%;
  height: 1850px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-form form{
  text-align: center;
}
.container-form h3{
  text-align: center;
  font-size: 32px;
  letter-spacing: 0;
  margin-bottom: 14px;
  margin-top: 55px;
}
.container-form form input{
  font-family: "SF-Pro-Text-Regular", sans-serif;
  border-radius: 57px;
  background-color: #4E4e4e;
  border: none;
  width: 500px;
  height: 35px;
  margin: 10px;
  text-align: center;
}
.container-form .formulario p{
  font-size: 18px;
  margin-top: -5px;
  color: #C7C7C7;
}
.container-form .formulario form button{
  font-family: "SF-Pro-Text-Regular", sans-serif;
  background-color: #EA5457;
  color: white;
  border: 0px;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  margin: 40px 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 170px;
}

input, select, textarea{
  color: #ffffff;
}
textarea:focus, input:focus {
  color: #000000;
}
.container-form #desc{
  height: 150px;
  border-radius: 20px;
}
#form-foto1{
  width: 640px;
  height: 235px;
  border-radius: 20px;
  margin-top: 20px;
}
#form-foto2{
  border-radius: 20px;
  margin-top: 20px;
}
#add-img{
  width: 398px;
  height: 144px;
  background-color:#4e4e4e;
  border-radius: 20px;
  margin-top: 20px;
  padding-left: 35px;
  padding-top: 58px;
  box-sizing: border-box;
  cursor: pointer;
}
#add-img:hover{
  background-color: rgb(34, 34, 34);
}
.container-form a{
  text-decoration: none;
  font-size: 14px;
  color: #EA5457;
}

@media (max-width: 1050px){
  #form-foto1{
    width: 413px;
    height: 152px;
  }
  .container-form{
    width: 90%;
  }
}

@media (max-width: 700px){
  #form-foto1{
    width: 413px;
    height: 152px;
  }
  .container-form{
    width: 98%;
  }
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background:  #4e4e4e;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  padding-left: 230px;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: inline-flex;
  width: 500px;
  height: 40px;
  line-height: 3;
  background: #4e4e4e ;
  overflow: hidden;
  border-radius: 30px;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #EA5457;
}

/*===================================
 Product edit
===================================*/

.products-edit{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 600px;
  margin-right: -70px;
  margin-top: 20px;
  padding: 40px 40px;
}
.products-edit img{
  width: 217px;
  height: 146px;
  border-radius: 20px;
}
.products-edit p{
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 40px;
}
.products-edit a{
  position: relative;
  bottom: 62px;
  left: 195px;
  font-size: 18px;
}
.products-edit i:hover{
color: #464646;  
cursor: pointer;
}

/*===========================
JS FRONT
===========================*/

.error-msg{
  color: #EA5457;
}

.invalid-input{
  border: 1px solid #EA5457 !important;

}


