body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/images/fondo-web.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #FFFFFF;
}

/* Navbar */
nav{
  position: fixed;
  margin: 1%;
  background-color: black;
  color: gray;
  height: 5%;
  display: inline-flex;
  width: 98%;
  height: 10%;
  border-radius: 10px;
  flex-direction: row;
  z-index: 1;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  padding: 0px 15px;
  align-self: center;
}

nav ul li img{
  width: 60px;
}

nav a{
  color: gray;
  text-decoration: none;
}

nav a:hover{
  color: white;
}


/* Home */
#banner{
  position: relative;
  padding-top: 7%;
  height: 50vh;
  width: 100%;
}

.home-cards{
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  margin: 1%;
  border-radius: 15px;
}

.home-cards img{
  border-radius: 10px;
}

#plato{
  margin: 2%;
  width: 40%;
}

#up{
  box-sizing: border-box;
  position: relative;
  left: 100px;
  margin-top: 1%;
  width: 15%;
  height: 15%;
}

#wasabi{
  width: 60%;
}

#mano{
  width: 20%;
  position: relative;
  right: 10%;
  bottom: 2%;
}

.home-text{
  padding: 2% 0% 2% 2%;
  width: 40%;
  display: inline-block;
}

.button {
  background-color: #EA5457;
  color: white;
  border: none;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

/* Product details */
#product-main{
  margin-left: 5%;
  display: inline-block;
}

#product-description{
  display: inline-block;
  flex-wrap: wrap;
}

#cart-options{
  justify-content: center;
  padding-left: 5%;
  display: inline-block;
}

/* Footer */
footer{
  background-color: black;
  text-align: center;
  padding: 1px;
}

footer i{
  margin: 1% 2%;
}

/* Register */
.datos h2{
  font-family: "MonumentExtended-Ultrabold";
  font-size:58px;
}

.datos img{
  width: 278px;
  margin-left: 45%;
}

.datos .titulacion p{
  font-family: "SF-Pro-Text-Regular";
  font-size: 22px;
}

.datos h3{
  font-family: "SF-Pro-Display-Medium";
  font-size: 36px;
  text-align: center;
}
.datos form{
  text-align: center;
}

.datos form input{
  border-radius: 57px;
  background-color: #626262;
  border: none;
  width: 70%;
  height: 30px;
  margin: 10px auto;
  text-align: center;
}
.formulario input:hover{
  background-color: grey;
}
.formulario input:focus{
  background-color:white;
}
.datos .radio, #news{
  display: inline-block;
  vertical-align: center;
}
.finform{
  margin-left: 13%;
  font-size: 10px;
}
.finform button{
  margin-left: 65%;
  background-color: #EA5457;
  border-radius: 57px;
  border: none;
}
#already{
  color: #A8CA55;
  margin-left: 30%;
  font-size: 12px;
}

.datos .formulario p{
  font-size: 8px;
}

.datos{
  width: 30%;
  margin-left: 4%;

}
.imgizq img{
  border-radius: 20px;
  
}
.imgizq{
  width: 49%;
  margin-left: 4%;
}
.datos, .imgizq{
  display: inline-block;
  vertical-align: top;
  margin-left: 4%;
  margin-top: 10%;
}

